<footer>
  <section>
    <div>
      <h3>Pourquoi Devenir Prestataire Chez Nous ?</h3>
      <ol>
        <li>Lorem ipsum dolor sit omet consectur.</li>
        <li>Neque proin placerat sit a.</li>
        <li>feugiat eget risus pharetra sit a.</li>
        <li>Neque proin placerat sit a.</li>
        <li>Neque proin placerat sit a.</li>
      </ol>
    </div>
    <div>
      <input type="text" placeholder="Nom">
      <input type="text" placeholder="Email">
      <input type="submit" value="Soumettre">
    </div>
  </section>
  <section>
    <div>
      <img src="img/img-partner/logo-footer.png">
    </div>
    <div>
      <ol>
        <li><h3>A Propos</h3></li>
        <li>Nos Services</li>
        <li>Nos Services</li>
        <li>Nos Services</li>
      </ol>
    </div>
    <div>
      <ol>
        <li><h3>Lien de Page</h3></li>
        <li>Accueil</li>
        <li>A propos de Nous</li>
        <li>Nos Services</li>
        <li>Nos Prestataires</li>
      </ol>
    </div>
    <div>
      <ol>
        <li><h3>Nos Services</h3></li>
        <li>Nos Services</li>
        <li>Nos Services</li>
        <li>Nos Services</li>
      </ol>
    </div>
    <div>
      <ol>
        <li>Nos Pages</li>
        <li>Folow us</li>
      </ol>
    </div>
  </section>
  <p>Copyriht, Policy</p>
</footer>
